/* application wide CSS styles */
html {
  background-color: #003333;
}

h1, h2, h3 {
  color: white;
}

table {
  background-color: orange;
  color: black;
  border: 4px solid black;
  text-align: center;  
}

th {
  color: black;
}

tr {
  text-align: left;
  vertical-align: bottom;
  border: 1px solid black;
}

tr:first-child td{
  font-weight: bold;
}