<div class="wrapper">

  <div></div>

  <div>
      <h1>Foods</h1>
      <!-- populate test food -->
      <button type="button" class="btn btn-default" (click)="populateTestFood()">Populate Test Food</button>
      <!-- food form -->
      <app-food-form *ngIf="!submitted" [editableFood]="food" (food)="onSubmitFood($event)">
      </app-food-form>
      <!-- add food -->
      <button (click)="openAddFoodDialog()">Add Food</button>
  </div>

  <div>
    <!-- food table -->
    <app-food-table [foodDict]="foodDict" (food)="onSelectFood($event)"></app-food-table>
  </div>


  <!-- MATERIAL TABLE -->
  <!--   <table cdk-table [foodDict]="foodDict">
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef> Name </th>
      <td cdk-cell *cdkCellDef="let element"> {{food.name}} </td>
    </ng-container>
    <ng-container cdkColumnDef="calories">
      <th cdk-header-cell *cdkHeaderCellDef> Calories </th>
      <td cdk-cell *cdkCellDef="let element"> {{food.calories}} </td>
    </ng-container>
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

</div>