<div class="container">

    <h1>Add Meal</h1>

    <!-- MEAL FORM -->
    <form (ngSubmit)="onSubmit()" #logForm="ngForm">

      <!-- food drop down -->
      <div class="form-group">
        <label for="food">Food</label>
        <select class="form-control" id="food"
        required
        [(ngModel)]="formLogRecord.food" name="food">
          <option *ngFor= "let food of foodDict" [ngValue]="food"> 
            {{food | foodDetails:"labels"}}
          </option>
        </select>
      </div>
      <!-- servings -->
      <div class="form-group">
        <label for="servings">Servings</label>
        <input type="number" class="form-control" id="servings"
        required
        [(ngModel)]="formLogRecord.servings" name="servings">
      </div>
      <!-- time eaten -->
      <div class="form-group">
        <label for="time">Time Consumed</label>
        <input type="text" class="form-control" id="time"
         [(ngModel)]="formLogRecord.date" name="time">
      </div>

 	  <!-- button to submit data for current record -->
      <button type="submit" class="btn btn-success" [disabled]="!logForm.form.valid">Submit</button>
    </form>
</div>

<!-- LOG TABLE -->
<div class="container" [hidden]="!submitted">

  <h2>You submitted the following Log Record:</h2>

  <table id="log table">
	 <th>Today's Entries</th>
  	<tr>
		<td>Time Consumed</td>
		<td>Name</td>
		<td>Calories (per serving)</td>
		<td>Servings</td>
		<td>Total Calories</td>
	</tr>
  <!-- repeated table data -->
  <tr *ngFor="let record of logDay">
  		<td>{{ record.date }}</td>
  		<td>{{ record.food.name }}</td>
      <td>{{ record.food.calories }}</td>
  		<td>{{ record.servings }}</td>
  		<td>{{ (record.calories)*(record.servings) | number }}</td>
  </tr>
</table>

</div>