
diagnostic: {{diagnostic}}

<div class="container" id="logFormContainer">
    <h1>Log Form</h1>
    <form (ngSubmit)="onSubmit()" #logForm="ngForm">

      <div>
      	<h3>Entry Date - {{formLogRecord.date | date}}</h3>
        <h4>Entry Time - {{formLogRecord.date | date :'shortTime'}}</h4>
      </div>
    	
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" 
        required

        [(ngModel)]="formLogRecord.name" name="name" 
        #name="ngModel">
      </div>
      <!--pop up warning if name missing -->
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
  	    Name is required
	  </div>
 
      <div class="form-group">
        <label for="calories">Calories</label>
        <input type="number" class="form-control" id="calories"
        required
        [(ngModel)]="formLogRecord.calories" name="calories">
      </div>

      <div class="form-group">
        <label for="fat">Fat</label>
        <input type="number" class="form-control" id="fat"
        required
        [(ngModel)]="formLogRecord.fat" name="fat">
      </div>

      <div class="form-group">
        <label for="carbs">Carbs</label>
        <input type="number" class="form-control" id="carbs"
        required
        [(ngModel)]="formLogRecord.carbs" name="carbs">
      </div>

      <div class="form-group">
        <label for="protein">Protein</label>
        <input type="number" class="form-control" id="protein"
        required
        [(ngModel)]="formLogRecord.protein" name="protein">
      </div>

      <div class="form-group">
        <label for="servings">Servings</label>
        <input type="number" class="form-control" id="servings"
        required
        [(ngModel)]="formLogRecord.servings" name="servings">
      </div>
      <!-- using the chrome time tag for valid input -->
      <div class="form-group">
        <label for="time">Time Consumed</label>
        <input type="time" class="form-control" id="time"
         [ngModel]="formLogRecord.date" 
         (ngModelChange)="formLogRecord.date = setDateTime($event)"
         name="time">
      </div>
 
 	  <!-- button to generate a new record form to populate -->
      <button type="button" class="btn btn-default" (click)="newRecord(); logForm.reset()">New Record</button>

 	  <!-- button to submit data for current record -->
      <button type="submit" class="btn btn-success" [disabled]="!logForm.form.valid">Submit</button>
    </form>
</div>

<!-- LOG TABLE -->

<div class="container" [hidden]="!submitted">

  <h2>You submitted the following Log Record:</h2>

  <table id="log table">
	 <th>Today's Entries</th>
  	<tr>
		<td>Time Consumed</td>
		<td>Name</td>
		<td>Calories (per serving)</td>
		<td>Servings</td>
		<td>Total Calories</td>
	</tr>
  <!-- repeated table data -->
  <tr *ngFor="let record of logDay">
  		<td>{{ record.date | date :'shortTime'}}</td>
  		<td>{{ record.name }}</td>
  		<td>{{ record.calories }}</td>
  		<td>{{ record.servings }}</td>
  		<td>{{ (record.calories)*(record.servings) | number }}</td>
  </tr>
</table>

</div>