
diagnostic: {{diagnostic}}

<div class="container" id="logFormContainer">
    <h1>Log Form Component</h1>
    <form (ngSubmit)="onSubmit()" #logForm="ngForm">

      <div>
      	<h3>Entry Date - {{model.date | date}}</h3>
        <h4>Entry Time - {{model.date | date :'shortTime'}}</h4>
      </div>
    	
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" 
        required

        [(ngModel)]="model.name" name="name" 
        #name="ngModel">
      </div>
      <!--pop up warning if name missing -->
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
  	    Name is required
	  </div>
 
      <div class="form-group">
        <label for="calories">Calories</label>
        <input type="number" class="form-control" id="calories"
        required
        [(ngModel)]="model.calories" name="calories">
      </div>

      <div class="form-group">
        <label for="fat">Fat</label>
        <input type="number" class="form-control" id="fat"
        required
        [(ngModel)]="model.fat" name="fat">
      </div>

      <div class="form-group">
        <label for="carbs">Carbs</label>
        <input type="number" class="form-control" id="carbs"
        required
        [(ngModel)]="model.carbs" name="carbs">
      </div>

      <div class="form-group">
        <label for="protein">Protein</label>
        <input type="number" class="form-control" id="protein"
        required
        [(ngModel)]="model.protein" name="protein">
      </div>

      <div class="form-group">
        <label for="servings">Servings</label>
        <input type="number" class="form-control" id="servings"
        required
        [(ngModel)]="model.servings" name="servings">
      </div>
      <!-- using the chrome time tag for valid input -->
      <div class="form-group">
        <label for="time">Time Consumed</label>
        <input type="time" class="form-control" id="time"
         [ngModel]="model.date" 
         (ngModelChange)="model.date = setDateTime($event)"
         name="time">
      </div>
 
 	  <!-- button to generate a new record form to populate -->
      <button type="button" class="btn btn-default" (click)="newRecord(); logForm.reset()">New Record</button>

 	  <!-- button to submit data for current record -->
      <button type="submit" class="btn btn-success" [disabled]="!logForm.form.valid">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">

  <h2>You submitted the following Log Record:</h2>
  <!--
  <div class="row">
    <div class="col-xs-3">Food Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Cal</div>
    <div class="col-xs-9 pull-left">{{ model.calories }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Fat</div>
    <div class="col-xs-9 pull-left">{{ model.fat }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Carb</div>
    <div class="col-xs-9 pull-left">{{ model.carbs }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Prot</div>
    <div class="col-xs-9 pull-left">{{ model.protein }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Time</div>
    <div class="col-xs-9 pull-left">{{ model.date | date :'shortTime'}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
-->

  <table id="log table">
	 <th>Today's Entries</th>
  	<tr>
		<td>Time Consumed</td>
		<td>Name</td>
		<td>Calories (per serving)</td>
		<td>Servings</td>
		<td>Total Calories</td>
	</tr>
  <!-- repeated table data -->
  <tr *ngFor="let record of logDay">
  		<td>{{ record.date | date :'shortTime'}}</td>
  		<td>{{ record.name }}</td>
  		<td>{{ record.calories }}</td>
  		<td>{{ record.servings }}</td>
  		<td>{{ (record.calories)*(record.servings) | number }}</td>
  </tr>
</table>

</div>