<div>

  <!-- FOOD DICT TABLE -->
  <h2>Avalible foods:</h2>

  <div *ngFor="let food of foodDict">
    <div *ngIf="food">
      <!-- ID -->
      <div >
        <div >Id: {{ food.id }}</div>
      </div>
      <!-- NAME -->
      <div >
        <div >Name: {{ food.name }}</div>

      </div>
      <!-- CALORIES -->
      <div >
        <div >Calries: {{ food.calories }}</div>
      </div>
      <!-- FAT -->
      <div >
        <div >Fat: {{ food.fat }}</div>
      </div>
      <!-- CARBS -->
      <div >
        <div >Carbs: {{ food.carbs }}</div>
      </div>
      <!-- PROTEIN -->
      <div >
        <div >Protein: {{ food.protein}}</div>
      </div>
      <!-- SERVING SIZE -->
      <div >
        <div >Serving Size: {{ food.servingSize + ' (' + food.servingUnit + ')' }}</div>
      </div>

      <!-- EDIT BUTTON -->
      <button (click)="setFoodToEdit(food)">Edit</button>
    </div>
    <br>


  </div>