<div class="wrapper">
  <div>
    <!-- food table -->
    <h2>Avalible foods:</h2>
    <div *ngFor="let food of foodDict">
      <ng-container *ngIf="food">
        <div >Id: {{ food.id }}</div>
        <div ><h3>Name: {{ food.name }}</h3></div>
        <div >Calries: {{ food.calories }}</div>
        <div >Fat: {{ food.fat }}</div>
        <div >Carbs: {{ food.carbs }}</div>
        <div >Protein: {{ food.protein}}</div>>
        <div >Serving Size: {{ food.servingSize + ' (' + food.servingUnit + ')' }}</div>
      </ng-container>
  </div>
    <!-- edit button -->
    <button (click)="onelect(food)">Edit</button>
  </div>
</div>