<div class="container" id="logListContainer">	
  <h1>Log List Component</h1>
   <table id="log table">
   <th>Today's Entries</th>
    <tr>
    <td>Time Consumed</td>
    <td>Name</td>
    <td>Calories (per serving)</td>
    <td>Servings</td>
    <td>Total Calories</td>
  </tr>
  <!-- repeated table data -->
  <tr *ngFor="let record of logRecords">
      <td>{{ record.date | date :'shortTime'}}</td>
      <td>{{ record.name }}</td>
      <td>{{ record.calories }}</td>
      <td>{{ record.servings }}</td>
      <td>{{ (record.calories)*(record.servings) | number }}</td>
  </tr>
</table>
<!-- OLD FORMAT
  <tr *ngFor="let record of logRecords">
      <td>{{ record.time }}</td>
      <td>{{ record.food.name }}</td>
      <td>{{ record.food.calories }}</td>
      <td>{{ record.food.servingSize }}</td>
      <td>{{ record.servings }}</td>
      <td>{{ (record.food.calories)*(record.servings)|number }}</td>
  </tr>
  </table>
-->
</div>