/* Log component CSS styles */

table {
  background-color: orange;
  color: black;
  border: 4px solid black;
  text-align: center;  
}

th, td {
  border: 1px solid black;
}

tr {
  text-align: left;
  vertical-align: bottom;
}

tr:first-child {
  text-decoration: bold;
}