<div class="container" id="logListContainer">	

  <h1>Log Table</h1>

    diagnostic of logDayState: {{diagnostic}}


   <table id="log table">
   <th>Today's Entries</th>
    <tr>
    <td>Time Consumed</td>
    <td>Name</td>
    <td>Calories (per serving)</td>
    <td>Servings</td>
    <td>Total Calories</td>
  </tr>
  <!-- repeated table data -->
  <tr *ngFor="let log of logDay">
      <td>{{ log.date | date :'shortTime'}}</td>
      <td>{{ log.name }}</td>
      <td>{{ log.calories }}</td>
      <td>{{ log.servings }}</td>
      <td>{{ (log.calories)*(log.servings) | number }}</td>
  </tr>
</table>
<!-- OLD FORMAT
  <tr *ngFor="let log of loglogs">
      <td>{{ log.time }}</td>
      <td>{{ log.food.name }}</td>
      <td>{{ log.food.calories }}</td>
      <td>{{ log.food.servingSize }}</td>
      <td>{{ log.servings }}</td>
      <td>{{ (log.food.calories)*(log.servings)|number }}</td>
  </tr>
  </table>
-->
</div>